*~
\#*\#
/.cache/
/.emacs.desktop
/.last-package-update-day
/.python-environments/
/elpa/
/elpy/
/games/
/recentf-*
/straight/
/anaconda-mode/
/tramp
/transient/
/bookmarks
/emms/
/projectile-bookmarks.eld
/projectile.cache
/projects
/places
/.org-id-locations
/.lsp-session-v1
/emojis/
/tree-sitter/
/eln-cache/
/eshell/
/session.*
/kkcrc
/org-roam*.db
/url/
/cache/
/forge-database*.sqlite
